<!doctype html>

<html>
    <head>
        
        <title>{{ title }} - Link Shortener</title>
      
    </head>
    <body>
    
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="alert alert-info">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>